body {
    margin: 0;
    font-family: Inter, sans-serif;
    background: #f1f5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-box {
    background: #fff;
    width: 100%;
    max-width: 360px;
    padding: 28px;
    border-radius: 16px;
    box-shadow: 0 12px 40px rgba(0,0,0,0.12);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid #ccd3f5;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #5870ff;
    color: white;
    font-size: 17px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.2s;
}

button:hover {
    background: #4058f7;
}

a {
    color: #5870ff;
    text-decoration: none;
}

.small {
    margin-top: 12px;
}

.error {
    margin-top: 10px;
    color: red;
    font-size: 14px;
    height: 18px;
}
